body{
    background-color: black;
    color:white;
    text-align: center;
}

.txtc{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

h1{
    margin-left: 40px;
}

h2{
    font-size: 25px;
}